<footer>
    <div class="left-side">
      <p>Ignasi Muñoz Gol</p>
      <p>20/04/2024</p>
    </div>
    <div class="middle">
      <ul class="nav-list">
        <li><a href="/src/index.html">Inicio</a></li>
        <li><a href="/src/pages/presentacion.html">Descúbrelo</a></li>
        <a href="/src/index.html"><img src="/img/logo-blanc.png" alt="Logo" width="80px"></a>
        <li><a href="/src/pages/categoria.html">Curiosidades</a></li>
        <li><a href="/src/pages/enlaces.html">Enlaces</a></li>
    </ul>
    </div>
    <div class="right-side">
      <p>Eines HTML i CSS</p>
      <a href="https://github.com/tuusuario" class="github-icon" target="_blank"><i class='bx bxl-github' style='color:#f7f2f2'  ></i></a>
    </div>
</footer>