<header>
   
    <button id="abrir" class="abrir-menu"><i class='bx bx-menu'></i></button>
    <nav id="nav" class="nav">
        <button id="cerrar" class="cerrar-menu"><i class='bx bx-x'></i></button>
        <ul class="nav-list">
            <li><a href="/src/index.html">Inicio</a></li>
            <li><a href="/src/pages/presentacion.html">Que es?</a></li>
            <li><a href="/src/pages/categoria.html">Curiosidades</a></li>
            <li><a href="/src/pages/enlaces.html">Enlaces</a></li>
        </ul>
    </nav>  
    
</header>

