<header>
   
    <button id="abrir" class="abrir-menu" aria-label="Menu"><i class='bx bx-menu'></i></button>
    <nav id="nav" class="nav">
        <button id="cerrar" class="cerrar-menu" alt="logo 2938 daft punk"><i class='bx bx-x'></i></button>
        <ul class="nav-list">
            <li ><a href="/src/index.html" class="modified">Inicio</a></li>
            <li ><a href="/src/pages/presentacion.html" class="modified">Descúbrelo</a></li>
            <li><a href="/src/index.html"><img src="/img/logo-blanc.png" alt="Logo" width="80px"></a></li>
            <li ><a href="/src/pages/categoria.html" class="modified">Curiosidades</a></li>
            <li ><a href="/src/pages/enlaces.html" class="modified">Enlaces</a></li>
        </ul>
    </nav>  
    
</header>

