/* Paleta colores  https://coolors.co/292929-e0e0e2-63a46c-247ba0-ffb20f */

/* colores pagina */
$primary-color: #292929;
$secundary-color: #E0E0E2;
$third-color: #FFB20F;
$fourth-color: #000;
$fifth-color: #247BA0;
$footer-color: #1F1F1F;

/* colores contador */
$dark-color-1: #151515;
$dark-color-2: #222222;
$dark-color-3: #333333;
$dark-color-4: #202020;

body {
  color: $secundary-color;
  background-color: $primary-color;
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;
}

#contador-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.contador-componente {
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid $secundary-color;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bold;
}

@media only screen and (max-width: 599px) {
  .contador-componente {
    font-size: 0.8rem;
    margin: 0 1px;
    padding: 3px;
    gap: 0;
  }
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
  .contador-componente {
    font-size: 1rem;
    margin: 0 1px;
    padding: 3px;
    gap: 0;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 801px) {
  .contador-componente {
    font-size: 1.5rem;
    margin: 0 1px;
    padding: 3px;
    gap: 0;
  }
}


b {
  color: $fifth-color;
}

p {
  font-size: 1.1rem;
}

.index-main-part {
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .index-main-part {
    margin-top: 5rem;
  }
}

.h1-index a {
  text-decoration: none;
  color: $fourth-color;
}

.h1-index {
  font-size: 11rem;
  text-align: center;
  font-family: Oswald, sans-serif;
  font-weight: 800;
  font-style: italic;
  padding: 0;
  margin: 0;


  color: $fourth-color; 
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: $fourth-color;
  
  text-shadow: 1px 1px 1px $fifth-color,
      1px 2px 1px $fifth-color,
      1px 3px 1px $fifth-color,
      1px 4px 1px $fifth-color,
      1px 5px 1px $fifth-color,
      1px 6px 1px $fifth-color,
      1px 7px 1px $fifth-color,
      1px 8px 1px $fifth-color,
      1px 9px 1px $fifth-color,
      1px 10px 1px $fifth-color,
}

.h1-index:hover {
  text-shadow: 1px 1px 1px $third-color,
      1px 2px 1px $third-color,
      1px 3px 1px $third-color,
      1px 4px 1px $third-color,
      1px 5px 1px $third-color,
      1px 6px 1px $third-color,
      1px 7px 1px $third-color,
      1px 8px 1px $third-color,
      1px 9px 1px $third-color,
      1px 10px 1px $third-color,
}

.h2-presentacion {
  margin-top: 4rem;
}

.title {
  justify-content: center;
  text-align: center;
}

.title p{
  padding: 0rem 2rem 1rem 2rem;
}

.hidden {
  overflow: hidden;
  margin-bottom: 2rem;
}

.bigger-text{
  font-size: 1.2rem;
}

.text {
  margin: 0 auto;
  padding: 2rem 7rem 1rem 7rem;
}

@media only screen and (max-width: 767px) {
  .text {
    margin: 0 auto;
    padding: 2rem 3rem 1rem 3rem;
  }
}



.img-presentacion {
  display: block;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  width: 70%;
  height: auto;
}

.img-enlaces {
  display: block;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 10rem;
  border-radius: 10px;
}

.img-detalle {
  display: block;
  margin: 0 auto;
  width: 80%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

.video-1{
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.video-1 iframe {
  width: 560px;
  height: 315px;
}

@media screen and (max-width: 750px) {
  .video-1 iframe {
    width: 320px;
    height: 190px;
  }
}
.lista-ordenada li {
  line-height: 2;
}

.lista-ordenada li a {
  text-decoration: none;
  color: $secundary-color;
}

.lista-ordenada li a:hover {
  text-decoration: underline;
  color: $third-color;
}



/* ---------------- Footer ------------- */

footer {
  background-color: $footer-color;
  padding: 10px 30px 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  font-size: 0.9rem;
}

.github-icon:hover i {
  transform: scale(1.1); 
}

.left-side {
  text-align: left;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center; /* Opcional: centra el contenido verticalmente */
  text-align: center; /* Centra el texto dentro del div */
}

.middle .nav-list {
  padding: 0;
}

.middle li {
  display: inline-block;
}

.middle li:nth-child(1):after,
.middle li:nth-child(4):after {
  content: " |";
}

@media only screen and (max-width: 900px) {
  .middle {
    font-size: 0.8rem;
  }
  .middle img {
    width: 60px;
  }
}

@media only screen and (max-width: 700px) {
  .middle {
    display: flex;
    justify-content: center;
  }
  .middle li {
    display: block;
    font-size: 0.8rem; 
    text-align: center;
  }
  .middle li:nth-child(1):after,
  .middle li:nth-child(4):after {
    content: "";
  }
}



.right-side {
  text-align: right;
}

.github-icon {
  font-size: 2rem;
}


/* ---------------- Botón Atrás --------------*/

#btnBack {

  border: none;
  color: $fourth-color;
  padding: 5px 5px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px;
  cursor: pointer;
  border-radius: 10px;
}

#btnBack:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: $third-color;

}



/* ------------ MENU ------------*/

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly; 
  margin-top: 40px;
  margin-bottom: 15px;
}

nav ul li{
  list-style: none;
  display: inline;
}

nav ul li a{
  font-size: 0.8rem;
  text-decoration: none;
  border: 2.2px solid $secundary-color;
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

nav ul li a:hover {
  color: $fourth-color;
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg); 
  background-color: $third-color;;
}


nav ul li,
ul li {
  list-style-type: none;
}

nav ul li a,
ul li a {
  text-decoration: none;
  color: $secundary-color;
}


/*---------- Hamburger menu ----------*/

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media only screen and (max-width: 800px) {

  .abrir-menu,
  .cerrar-menu {
      display: block;
      border: 0;
      font-size: 2rem;
      background-color: transparent;
      cursor: pointer;
  }

  .abrir-menu {
      color: $secundary-color;
      position: fixed;
      top: 20px; 
      right: 20px; 
  }

  .cerrar-menu {
      color: $secundary-color;
  }

  .nav {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: $footer-color;
      padding: 2rem;
      
  }

  .nav.visible {
      opacity: 1;
      visibility: visible;
  }
  
  .nav-list {
      flex-direction: column;
      align-items: end;
  }

  .nav-list li a {
      color: $secundary-color;
  }

  nav ul li a{
    font-size: 1rem;
    text-decoration: none;
    border: none;
  }
}

/* ---------------------- */

.h1-general {
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 20px;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 3rem;
}
.ant-1 {
  border: 1px solid $secundary-color;
  border-radius: 8px;
  padding: 20px;
}
.ant-1 img {
  width: 100%;
  height: auto; 
  border-radius: 10px;
}

@media only screen and (max-width: 1450px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.link-text {
  color: $secundary-color;
  text-decoration: none;
  font-size: 1.2rem;
  border: 1px solid;
  padding: 5px;
  border-radius: 10px;
}

.link-text:hover {
  color: $third-color;
}

.link-text-2 {
  color: $secundary-color;
  text-decoration: none;
  border: 1px solid;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 550px) {
  .link-text-2 {
    font-size: 0.9rem;
  }
}

.text ul li {
  list-style: circle;
}

.text a {
  text-decoration: none;
}

.text a:hover {
  color: $third-color;
}

ul li p {
  margin-left: 2rem;
}

.link-text-2:hover {
  color: $third-color;
}

p {
  margin-top: 10px;
}


/*CLIP PATH */

.clip-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clip-animation img {
  width: 300px;
  transition: clip-path 1s;

}

.clip-animation {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  animation: clip 5s infinite;
  margin: 0;
  display: block;
}

@keyframes clip {
  0%, 100% {
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  25% {
      clip-path: polygon(40% 10%, 90% 40%, 60% 90%, 10% 60%);
  }
  50% {
      clip-path: polygon(30% 20%, 80% 30%, 70% 80%, 20% 70%);
  }
  75% {
      clip-path: polygon(20% 30%, 70% 20%, 80% 70%, 30% 80%);
  }
}
