/* colors _ https://coolors.co/292929-e0e0e2-63a46c-247ba0-ffb20f */

/* colores pagina */
$primary-color: #292929;
$secundary-color: #E0E0E2;
$third-color: #FFB20F;
$fourth-color: #000;
$fifth-color: #247BA0;
$footer-color: #1F1F1F;

/* colores contador */
$dark-color-1: #151515;
$dark-color-2: #222222;
$dark-color-3: #333333;
$dark-color-4: #202020;


body {
  color: $secundary-color;
  background-color: $primary-color;
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;
}

#contador {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

b {
  color: $fifth-color;
}

p {
  font-size: 1.1rem;
}

.index-main-part {
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .index-main-part {
    margin-top: 5rem;
  }
}

.h1-index a {
  text-decoration: none;
  color: $fourth-color;
}

.h1-index {
  font-size: 11rem;
  text-align: center;
  font-family: Oswald, sans-serif;
  font-weight: 800;
  font-style: italic;
  padding: 0;
  margin: 0;


  color: $fourth-color; 
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: $fourth-color;
  
  text-shadow: 1px 1px 1px $fifth-color,
      1px 2px 1px $fifth-color,
      1px 3px 1px $fifth-color,
      1px 4px 1px $fifth-color,
      1px 5px 1px $fifth-color,
      1px 6px 1px $fifth-color,
      1px 7px 1px $fifth-color,
      1px 8px 1px $fifth-color,
      1px 9px 1px $fifth-color,
      1px 10px 1px $fifth-color,
}

.h1-index:hover {
  text-shadow: 1px 1px 1px $third-color,
      1px 2px 1px $third-color,
      1px 3px 1px $third-color,
      1px 4px 1px $third-color,
      1px 5px 1px $third-color,
      1px 6px 1px $third-color,
      1px 7px 1px $third-color,
      1px 8px 1px $third-color,
      1px 9px 1px $third-color,
      1px 10px 1px $third-color,
}

.title {
  justify-content: center;
  text-align: center;
}

.title p{
  padding: 0rem 2rem 1rem 2rem;
}

.hidden {
  overflow: hidden;
  margin-bottom: 2rem;
}

.text {
  margin: 0 auto;
  padding: 2rem 7rem 1rem 7rem;
}



.img-presentacion {
  display: block;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  width: 70%;
  height: auto;
}

.img-enlaces {
  display: block;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 10rem;
  border-radius: 10px;
}

.img-detalle {
  display: block;
  margin: 0 auto;
  width: 40%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

.video-1{
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.video-1 iframe {
  width: 560px;
  height: 315px;
}

@media screen and (max-width: 750px) {
  .video-1 iframe {
    width: 320px;
    height: 190px;
  }
}
.lista-ordenada li {
  line-height: 2;
}

.lista-ordenada li a {
  text-decoration: none;
  color: $secundary-color;
}

.lista-ordenada li a:hover {
  text-decoration: underline;
  color: $third-color;
}



/* ---------------- Footer ------------- */

footer {
  background-color: $footer-color;
  padding: 10px 30px 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  font-size: 0.9rem;
}

.github-icon:hover i {
  transform: scale(1.1); 
}

.left-side {
  text-align: left;
}

.right-side {
  text-align: right;
}

.github-icon {
  font-size: 2rem;
}


/* ---------------- Botón Atrás --------------*/

#btnBack {

  border: none;
  color: $fourth-color;
  padding: 5px 5px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px;
  cursor: pointer;
  border-radius: 10px;
}

#btnBack:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: $third-color;

}



/* ///////////////// MENU ////////////////*/

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly; 
  margin-top: 40px;
  margin-bottom: 15px;
}

nav ul li{
  list-style: none;
  display: inline;
}

nav ul li a{
  font-size: 0.8rem;
  text-decoration: none;
  border: 2.2px solid $secundary-color;
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

nav ul li a:hover {
  color: $fourth-color;
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg); 
  background-color: $third-color;;
}


nav ul li,
ul li {
  list-style-type: none;
}

nav ul li a,
ul li a {
  text-decoration: none;
  color: $secundary-color;
}


/* Hamburger menu */

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media only screen and (max-width: 800px) {

  .abrir-menu,
  .cerrar-menu {
      display: block;
      border: 0;
      font-size: 2rem;
      background-color: transparent;
      cursor: pointer;
  }

  .abrir-menu {
      color: $secundary-color;
      position: fixed;
      top: 20px; 
      right: 20px; 
  }

  .cerrar-menu {
      color: $secundary-color;
  }

  .nav {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: $footer-color;
      padding: 2rem;
      
  }

  .nav.visible {
      opacity: 1;
      visibility: visible;
  }
  
  .nav-list {
      flex-direction: column;
      align-items: end;
  }

  .nav-list li a {
      color: $secundary-color;
  }

  nav ul li a{
    font-size: 1rem;
    text-decoration: none;
    border: none;
  }
}

/* ---------------------- */

.h1-general {
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 20px;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 3rem;
}
.ant-1 {
  border: 1px solid $secundary-color;
  border-radius: 8px;
  padding: 20px;
}
.ant-1 img {
  width: 100%;
  height: auto; 
  border-radius: 10px;
}

@media only screen and (max-width: 1450px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.link-text {
  color: $secundary-color;
  text-decoration: none;
  font-size: 1.2rem;
  border: 1px solid;
  padding: 5px;
  border-radius: 10px;
}

.link-text:hover {
  color: $third-color;
}

.link-text-2 {
  color: $secundary-color;
  text-decoration: none;
  border: 1px solid;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.text ul li {
  list-style: circle;
}

ul li p {
  margin-left: 2rem;
}

.link-text-2:hover {
  color: $third-color;
}

p {
  margin-top: 10px;
}





/* //// CONTADOR ///// */

/* Font styles */
.flipdown.flipdown__theme-dark {
  font-family: sans-serif;
  font-weight: bold;
}
/* Rotor group headings */
.flipdown.flipdown__theme-dark .rotor-group-heading:before {
  color: $secundary-color;
}
/* Delimeters */
.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):before,
.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):after {
  background-color: $dark-color-1;
}
/* Rotor tops */
.flipdown.flipdown__theme-dark .rotor,
.flipdown.flipdown__theme-dark .rotor-top,
.flipdown.flipdown__theme-dark .rotor-leaf-front {
  color: $secundary-color;
  background-color: $dark-color-1;
}
/* Rotor bottoms */
.flipdown.flipdown__theme-dark .rotor-bottom,
.flipdown.flipdown__theme-dark .rotor-leaf-rear {
  color: $secundary-color;
  background-color: $dark-color-4;
}
/* Hinge */
.flipdown.flipdown__theme-dark .rotor:after {
  border-top: solid 1px $dark-color-1;
}

/********** Theme: light **********/
/* Font styles */
.flipdown.flipdown__theme-light {
  font-family: sans-serif;
  font-weight: bold;
}
/* Rotor group headings */
.flipdown.flipdown__theme-light .rotor-group-heading:before {
  color: $secundary-color;
}
/* Delimeters */
.flipdown.flipdown__theme-light .rotor-group:nth-child(n+2):nth-child(-n+3):before,
.flipdown.flipdown__theme-light .rotor-group:nth-child(n+2):nth-child(-n+3):after {
  background-color: $secundary-color;
}
/* Rotor tops */
.flipdown.flipdown__theme-light .rotor,
.flipdown.flipdown__theme-light .rotor-top,
.flipdown.flipdown__theme-light .rotor-leaf-front {
  color: $dark-color-2;
  background-color: $secundary-color;
}
/* Rotor bottoms */
.flipdown.flipdown__theme-light .rotor-bottom,
.flipdown.flipdown__theme-light .rotor-leaf-rear {
  color: $dark-color-3;
  background-color: $secundary-color;
}
/* Hinge */
.flipdown.flipdown__theme-light .rotor:after {
  border-top: solid 1px $dark-color-2;
}

/* END OF THEMES */

.flipdown {
  overflow: visible;
  width: 620px;
  height: 110px;
  margin: 0 auto;
}

.flipdown .rotor-group {
  position: relative;
  float: left;
  padding-right: 30px;
}

.flipdown .rotor-group:last-child {
  padding-right: 0;
}

.flipdown .rotor-group-heading:before {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.flipdown .rotor-group:nth-child(1) .rotor-group-heading:before {
  content: attr(data-before);
}

.flipdown .rotor-group:nth-child(2) .rotor-group-heading:before {
  content: attr(data-before);
}

.flipdown .rotor-group:nth-child(3) .rotor-group-heading:before {
  content: attr(data-before);
}

.flipdown .rotor-group:nth-child(4) .rotor-group-heading:before {
  content: attr(data-before);
}

.flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 115px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
  content: '';
  position: absolute;
  bottom: 50px;
  left: 115px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.flipdown .rotor {
  position: relative;
  float: left;
  width: 50px;
  height: 80px;
  margin: 0px 5px 0px 0px;
  border-radius: 4px;
  font-size: 4rem;
  text-align: center;
  perspective: 200px;
}

.flipdown .rotor:last-child {
  margin-right: 0;
}

.flipdown .rotor-top,
.flipdown .rotor-bottom {
  overflow: hidden;
  position: absolute;
  width: 50px;
  height: 40px;
}

.flipdown .rotor-leaf {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 80px;
  transform-style: preserve-3d;
  transition: transform 0s;
}

.flipdown .rotor-leaf.flipped {
  transform: rotateX(-180deg);
  transition: all 0.5s ease-in-out;
}

.flipdown .rotor-leaf-front,
.flipdown .rotor-leaf-rear {
  overflow: hidden;
  position: absolute;
  width: 50px;
  height: 40px;
  margin: 0;
  transform: rotateX(0deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flipdown .rotor-leaf-front {
  line-height: 80px;
  border-radius: 4px 4px 0px 0px;
}

.flipdown .rotor-leaf-rear {
  line-height: 0px;
  border-radius: 0px 0px 4px 4px;
  transform: rotateX(-180deg);
}

.flipdown .rotor-top {
  line-height: 80px;
  border-radius: 4px 4px 0px 0px;
}

.flipdown .rotor-bottom {
  bottom: 0;
  line-height: 0px;
  border-radius: 0px 0px 4px 4px;
}

.flipdown .rotor:after {
  content: '';
  z-index: 2;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 50px;
  height: 40px;
  border-radius: 0px 0px 4px 4px;
}

@media (max-width: 550px) {

  .flipdown {
    width: 390px;
    height: 70px;
  }

  .flipdown .rotor {
    font-size: 1.3rem;
    margin-right: 3px;
  }

  .flipdown .rotor,
  .flipdown .rotor-leaf,
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    width: 30px;
  }

  .flipdown .rotor-group {
    padding-right: 20px;
  }

  .flipdown .rotor-group:last-child {
    padding-right: 0px;
  }

  .flipdown .rotor-group-heading:before {
    font-size: 0.8rem;
    height: 20px;
    line-height: 20px;
  }

  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before,
  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    left: 69px;
  }

  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before {
    bottom: 13px;
    height: 8px;
    width: 8px;
  }

  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    bottom: 29px;
    height: 8px;
    width: 8px;
  }

  .flipdown .rotor-leaf-front,
  .flipdown .rotor-top {
    line-height: 50px;
  }

  .flipdown .rotor-leaf,
  .flipdown .rotor {
    height: 50px;
  }

  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    height: 25px;
  }
}


